{% extends 'admin/base.html.twig' %}

{% block title %}Admin Panel{% endblock %}

{% block body %}
    <div class="float-right">
        <a href="{{ path('products.list') }}"><button class="btn btn-success">Get new subscription</button></a>
    </div>
    <br>
    <br>
    <br>
    <div id="subscriptionList">
        {% include 'admin/subscription/table.html.twig' with {'subscriptions': subscriptions} only%}
    </div>
{% endblock %}
{% block javascripts %}
    {#    {{ encore_entry_script_tags('stripe_subscription') }}#}
    {{ encore_entry_script_tags('stripe_subscription_cancel') }}
{% endblock %}
